<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="dateOfBirth">Data de Nascimento: </label>
        <input type="date" id="dateOfBirth" name="dateOfBirth" required>
        <br>
        <label for="CPF">CPF: </label>
        <input type="number" name="CPF" id="CPF" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>